<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="/Semantic-UI/semantic.min.css">
</head>
<body>

    <%- include('../head', {}) %>
    








    <div style="padding:20px;" id="datatable">
                <h1 class="ui header">
                分类列表 <a href="/member/url/cate-save" class="ui button teal right" style="float: right;">添加分类</a>
                </h1>
                <form class="ui form data-table-form" style="margin-bottom:10px;">

                </form>
                <div style="ovflow:hidden;zoom:1;">
                    <table class="ui celled table striped selectable">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>分类名称</th>
                                <th>排序号</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div style="overflow:hidden;  margin-bottom: 20px;">
                        <div class="ui right floated pagination menu data-table-pager"></div>
                    </div>
                    <script type="text/html" class="body-tpl">
                    <tr>
                        <td>{{_id}}</td>
                        <td>{{cate_name}}</td>
                        <td>{{cate_sort}}</td>
                        <td>
                            <a href="/member/url/cate-save?id={{_id}}">编辑</a>
                            <a href="javascript:;" data-id="{{_id}}" class="J_del">删除</a>
                        </td>
                    </tr>
                    </script>
                </div>
            </div>


    <script type="text/javascript" src="/npm/jquery.min.js"></script>
    <script type="text/javascript" src="/npm/underscore.js"></script>
    <script type="text/javascript" src="/Semantic-UI/semantic.min.js"></script>
    <script type="text/javascript" src="/npm/jquery.extend.js"></script>
    <script type="text/javascript" src="/npm/jquery.layer.min.js"></script>
    <script type="text/javascript" src="/npm/jquery.dataTable.js"></script>
        <script type="text/javascript">
            _.templateSettings = {
              interpolate: /\{\{(.+?)\}\}/g
            };

            var table = $('#datatable').dataTable({
                url: '/member/url/cate-list',
                param : {
                    page_size : 5
                }
              });



            console.log($.layer);

            $(document).on('click', '.J_del', function(){

                var id = $(this).data('id');
                
                $.layer.confirm('请确定删除操作', function(){
                    $.post('/member/url/cate-del', {
                        id : id
                    }, function(res){
                        if(!res.error_code) {
                            table.init();
                        }
                    });
                });


                

                

            });
        </script>
</body>
</html>